@charset "utf-8";
*
{
     margin:0px;
     padding:0px;
}

#menu ul
{
list-style:none;
}
#menu ul li
{
margin:6px;
width:120px;
height:35px;
line-height:35px;
text-align:center;
float:left;
position:relative;
border-radius:8px;
}
#menu ul li a
{
 text-decoration:none;
color:black;
display:block;
}
#menu ul li a:hover
{
 background-color:orange;
 border-radius:8px;
}
#menu ul ul
{
position:absolute;
display:none;
}
#menu ul li:hover > ul
{
display:block;
}
#menu1
{
position:relative;
text-align;
center;
color:white;
}
#menu1 m1
{
position:absolute;
bottom:8px;
left:16px;
}






