.container
{
width:100%px;
overflow:hidden;
background:white;
margin:20px auto;
padding:10px 5px;
}
.cotnainer ul
{
padding:7px;
margin:0px;
}
.container ul li
{
list-style:none;
float:left;
width:15%;
height:60px;
background:white;
border:1px solid white; 
margin:40px 40px 0px 55px;

}
 